body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #2076f7;
    color: #fff;
    padding: 1px;
    text-align: center;
}

.header__container{
    margin-top: 15px;
}

.header__title {
    font-size: 30px;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu__link {
    color: #000000;
    padding: 5px 15px;
    transition: color 0.3s;
    text-decoration: none;
    background-color: #fff;
    border-radius: 13px;
}

.menu__link:hover {
    color: #09ac09;
    font-weight: 700;
}

.section--intro {
    background-color: #F5F5F5;
    text-align: center;
    padding: 48px 15px;
}


.intro__button {
    background-color: #2076f7;
    color: #fcfcfc;
    padding: 8px 15px;
    margin: 15px 8px;
    border-radius: 15px;
    border: #000000;
    transition: background-color 0.3s;
    text-decoration: none;
}

.intro__button:hover {
    color: #000000;
}

.section {
    padding: 15px 10px;
}

.section__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
    color: #4c5df8;
}

.section__text, .intro__text, .about__description {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: #000000;
}

.about__grid {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.about__grid h3{
    font-weight: 900;
    color: #000000;
}

.about__item {
    max-width: 300px;
    background-color: #d4d4d462;
    padding: 16px;
    border-radius: 5px;
}

.gallery__grid {
    display: flex;
    gap: 15px;
}

.gallery__img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery__caption {
    text-align: center;
    margin: 8px 0;
    font-weight: bold;
}

.btn-more {
    background-color: #2076f7;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-more:hover {
    background-color: #09ac09;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.services__list h3{
    font-weight: 900;
    color: #000000;
    text-align: center;
}

.service__item {
    max-width: 300px;
    padding: 5px;
    background-color: #e2e2e2;
    border-radius: 15px;
}

.news__grid {
    display: flex;
    gap: 15px;
}

.news__item{
    background-color: #a5a5a527;
    text-align: center;
}

.news__img {
    height: auto;
    border-radius: 15px;
}

.news__content {
    padding: 15px;
}

.news__title {
    font-size: 20px;
}

.news__date {
    font-size: 15px;
    color: #777777;
}

.contact__form {
    max-width: 500px;
    margin: 0 auto;
    display: Grid;
    gap: 15px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15;
}

.form__button {
    background-color: #2076f7;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__button:hover {
    background-color: #09ac09;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 24px;
    text-align: center;
}

.footer__text {
    margin-bottom: 15px;
}

.footer__social {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social__link {
    color: #fff;
    font-size: 15px;
    transition: color 0.3s;
}

.social__link:hover {
    color: #09ac09;
}
